* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

svg {
    display: block;
}

#h1-mobile {
    width: 100%;
    text-align: center;
    padding: 3vw 0;
}

#h1-mobile, #b-participante-mobile {
    font-size: 5.5vw;
}

#b-participante-mobile, .sorteadoAtual, #b-participante-desktop {
    color: #2a198b;
}

#section-amgSecreto-mobile {
    height: 80vh;
}

.section-amgSecreto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ff8600;
}

#section-amgSecreto-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#h2-mobile {
    font-size: 5vw;
    text-align: center;
}

#containerAmigoSecreto-mobile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 80%;
}

#containerAmigoSecreto-desktop {
    height: 26vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.div-svg {
    height: 10%;
    width: 100%;
}

.blur {
    filter: blur(5px);
}

#sorteadoAtual-mobile {
    font-size: 5.3vw;
}

.btn-exibir, .btn-prox {
    border: none;
    background: none;
}

#btn-exibir-mobile {
    font-size: 3.8vw;
    width: 45vw;
}

.btn-exibir {
    white-space: nowrap;
    background: #2a198b;
    padding: 1.2vw;
    color: #fff;
    border-radius: 5px;
}

#btn-prox-mobile {
    font-size: 3.6vw;
}

.btn-prox {
    color: #fff;
    font-weight: 350;
}

#containerBtn-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 20%;
}

#containerBtn-desktop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#h1-desktop {
    width: 100%;
    text-align: center;
}

#b-participante-desktop, #h1-desktop {
    white-space: nowrap;
    margin-top: 3%;
    font-size: 2.4vw;
}

#h2-desktop {
    width: 100%;
    text-align: center;
    font-size: 2vw;
    padding-top: 2%;
}

#sorteadoAtual-desktop {
    font-size: 2vw;
}

#btn-exibir-desktop {
    padding: 0;
    height: 7vh;
    padding: 0 1vw;
}

#btn-prox-desktop, #btn-exibir-desktop {
    font-size: 1.3vw;
}