* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

svg {
    display: block;
}

#h1-mobile {
    width: 100%;
    text-align: center;
    padding: 3vw 0;
}

#h1-mobile, .b-participante {
    font-size: 5.5vw;
}

.b-participante, .sorteadoAtual {
    color: #2a198b;
}

#section-amgSecreto-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    background: #ff8600;
}

#h2-mobile {
    font-size: 5vw;
    text-align: center;
}

#containerAmigoSecreto-mobile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 80%;
}

.div-svg {
    height: 10%;
    width: 100%;
}

.blur {
    filter: blur(5px);
}

#sorteadoAtual-mobile {
    font-size: 5.3vw;
}

.btn-exibir, .btn-prox {
    border: none;
    background: none;
}

.btn-exibir-mobile {
    font-size: 3.8vw;
    width: 45vw;
}

.btn-exibir {
    white-space: nowrap;
    background: #2a198b;
    padding: 1.2vw;
    color: #fff;
    border-radius: 5px;
}

#btn-prox-mobile {
    font-size: 3.6vw;
}

.btn-prox {
    color: #fff;
    font-weight: 350;
}

#containerBtn-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 20%;
}