* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.h1-title {
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-style: normal;
    white-space: nowrap;
}

#h1-mobile {
    color: #fff;
    font-size: 5.8vw;

}

.containerTitle {
    background-color: #ff8600;
    width: 100%;
}

svg {
    display: block;
}

#GiftImg-mobile {
    width: 60vw;

}

.h2-nome {
    color: #2a198b;
}

#h2-mobile {
    font-size: 5.2vw;
    text-align: center;
    padding-bottom: 4vw;
}

.container-input {
    border-radius: 5px;
}

.input-name {
    height: 100%;
    width: 55vw;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 3.5vw;
}

#input-name-desktop, #btn-input-desktop {
    height: 6.5vh;
}

#input-name-desktop {
    width: 30vw;
}

.btn-input {
    width: 25vw;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ff8600;
}

#btn-input-desktop {
    width: 13vw;
}

.containerSubInput {
    display: inline-flex;
    height: 8vw;
}

.ListaParticipantes {
    font-size: 4.3vw;
    margin: 4vw 0;
    color: #2a198b;
}

.sectionParticipantes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerBtnSorteio {
    display: flex;
    align-items: center;
    justify-content: center;
}

#containerBtnSorteio-mobile {
    margin-top: 4vw;
    margin-bottom: 2vw;
}

.btn-sortear {
    background: #ff8600;
    border: none;
    width: 25vw;
    height: 7.5vw;
    border: 1.3px solid #000;
    border-radius: 10px;
    color: #110842;
    font-size: 4vw;
}

#btn-sortear-desktop {
    margin-top: 2%;
    width: 10vw;
    height: 6vh;
    font-size: 1.6vw;
}

#containerSorteio-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#input-name-mobile {
    font-size: 4vw;
}

#p-mobile {
    font-size: 3.7vw;
}

#btn-input-mobile {
    font-size: 4vw;
}

#containerTitle-desktop {
    padding-top: 3vh;
}

#sectionTitle-desktop {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 28vh;
}

#GiftImg-desktop {
    height: 125%;
}

.divSubTitle {
    height: 80%;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

#h1-desktop {
    color: #fff;
    font-size: 3.4vw;
}

#ListaParticipantes-desktop {
    margin: 0;
    font-size: 1.4vw;
    overflow-x: hidden;
}

#input-name-desktop, #btn-input-desktop {
    font-size: 1.2vw;
}

#p-desktop {
    font-size: 1.3vw;
}

.teste {
    overflow-x: hidden;
}